
.content {
    background-color: #007698;
    height: 500px;
    position: relative;
    bottom: 350px;
    color: white;
    text-align: center;
    h3 {
        margin-top: 10px;
        position: relative;
        top: 10px;
        font-size: 40px;
        text-transform: uppercase;
    }
    .book-content {
        .text {
            color: white;
            h2 {
                margin-top: 30px;
                font-size: 40px;
            }
        }
        .image {
            img {
                position: relative;
                bottom: 130px;
                
            }
        }
    }
}